html {
    background-color: #010E0E;
}
#hideMe {
font-size: 20px;
font-family: monospace;
color: #fff;
    background: linear-gradient(to right, #C04848, #480048, #C04848);
    padding: 20px 70px;
    border-radius: 10px;
    background-size: 200%;
    transition: 1s;
}
#hideMe:hover {
    background-position: right;
}
#enterMe {
    font-family: "Calibri Light";
    background: linear-gradient(to right, #C04848, #480048);
}

#changeColor {
    font-size: 20px;
    font-family: monospace;
    padding: 20px 70px;
    border-radius: 10px;
}

#enterLeaveMe {
    font-family: "Calibri Light";
    background: linear-gradient(to left, #C04848, #480048);
}

#leaveMe, #focus {
    font-family: "Calibri Light";
    background: linear-gradient(to right, #C04848, #480048, #C04848);
}

.formInfo {
    font-family: "Calibri Light";
    font-size: 20px;
    color: white;
}